html {
    height:100%;
    width:100%;
}

body {
    display:contents;
}

.navbar {
    float:right;
    margin-right:15px;
    margin-top:10px;
}
.nav-item {
    margin-top:2px;
    margin-right:10px;
    color:gray;
    text-decoration:none;
}

.main {
    margin-top:250px;
    text-align:center;
}

.search {
    margin-top:20px;
}
.input-box {
    width:583px;
    height:46px;
    border-radius:24px;  /* 둥근 테두리 */
    border:1px solid #dfe1e5;
    padding-left:40px;
    padding-right:40px;
}
.search-icon {
    position:relative;
    left:40px;
}
.mic-icon {
    position:relative;
    right:40px;
}
.camera-icon {
    position:relative;
    right:40px;
}

.i-size {
    height:5px;
    width:5px;
}