html {
    height:100%;
    width:100%;
}

body {
    display:contents;
}

.navbar {
    float:right;
    margin-right:15px;
    margin-top:10px;
}
.nav-item {
    margin-top:2px;
    margin-right:10px;
    color:gray;
    text-decoration:none;
}

.main {
    margin-top:250px;
    text-align:center;
}