body {
    margin:0px;
}

/* nav */
.nav {
    height:80px;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.nav-bar {
    float:right;
    margin:20px;
}
.nav-item {
    padding:28px 17px;
    text-decoration:none;
    color:white;
    font-weight:700;
}
.nav-item:hover {
    color:#1ed760;
}

/* main */
.main {
    height:969px;
    background-color:rgb(41, 65, 171);
}

/* footer */
.footer {
    height:530px;
    background-color:black;
}

/* .box { 
    border:white solid 1px;
    height:350px;
    width:140px;
} */

.footer-item {
    text-decoration:None;
    color:#919496;
    font-size:16px;
}
.footer-item:hover {
    color:#1ed760;
}

.second-line {
    display:flex;
    justify-content:flex-end;
}

.usa {
    font-size:12px;
    color:#919496;
}
.letter {
    color:#919496;
}

.third-line {
    display:flex;
    justify-content:space-between;
}